[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.1"
colorama = "==0.4.4"
gunicorn = "==20.1.0"
itsdangerous = "==2.0.1"
Flask = "==2.0.2"
Jinja2 = "==3.0.2"
MarkupSafe = "==2.0.1"
PyMySQL = "==1.0.2"
Werkzeug = "==2.0.2"
flask-restful = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
